// Override Bootstrap variables here, if necessary
// $white: #ffffff;

// $theme-colors: (
//     "light":      #d9e3f6,
//     "dark":       #010752,
//     "primary":    #3a0ca3,
//     "secondary":  #4361ee,
//     "info":       #4cc9f0,
//     "accent1":    #f72585,
//     "accent2":    #7209b7,
//     "accent3":    #c7b3e3,
//     "success":    #07ab65,
//     "warning":    #e2cd07,
//     "danger":     #f22302,
// );

// Import Bootstrap's SCSS after variable overrides
@import 'bootstrap/scss/bootstrap';

// Import Bootstrap Icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Custom styles
.cl-organizationSwitcherTrigger .cl-organizationPreviewMainIdentifier {
  color: $white !important; // Using $white variable for consistency
  padding-left: 0.3rem; // Equivalent to Bootstrap's ps-3
  text-overflow: ellipsis; // To handle truncation
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  max-width: 100px;
}

.cl-organizationSwitcherTrigger .cl-organizationSwitcherTriggerIcon {
  color: $white !important; // Using $white variable for consistency
}


.loader {
  position: relative;
  width:  120px;
  height: 120px;
  background: $primary;
  transform: rotateX(65deg) rotate(45deg);
  // remove bellows command for perspective change
  //transform: perspective(200px) rotateX(65deg) rotate(45deg); 
  color: $warning;
  animation: layers1 1s linear infinite alternate;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 0;
  background: $warning;
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% { box-shadow: 0px 0px 0 0px  }
 90% , 100% { box-shadow: 40px 40px 0 -4px  }
}
@keyframes layerTr {
  0% { transform:  translate(0, 0) scale(1) }
  100% {  transform: translate(-50px, -50px) scale(1) }
}
    